body {
      font-family: 'Tajawal', sans-serif;
      background-image: linear-gradient(to bottom, #001F54, #6A5ACD);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }

    .container {
      background-image: linear-gradient(to bottom, #FDFDFD, #DADADA);
      border-radius: 20px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      width: 90%;
      max-width: 450px;
      padding: 30px;
      text-align: center;
    }

    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      border: 3px solid #f0e2ef;
      margin-bottom: 0px;
    }

    h1 {
      margin: 0;
      font-size: 24px;
      color: black;
      font-family: monospace;
    }

    p {
      color: #000;
      margin: 5px 0 20px;
      font-size: 14px;
      font-family: monospace;
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .facebook {
      background-image: linear-gradient(to left, #0A3D62, #0F9DFF);
      border: 1px solid #e2e8f0;
      padding: 12px 18px;
      border-radius: 12px;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease;
    }

    .instagram{
      background-image: linear-gradient(to left, #FF7E5F, #E100FF);
      border: 1px solid #e2e8f0;
      padding: 12px 18px;
      border-radius: 12px;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease;
    }

    .snapchat{
      background-image: linear-gradient(to left, #FFFC00, black);
      border: 1px solid #e2e8f0;
      padding: 12px 18px;
      border-radius: 12px;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease;
    }

    .tiktok{
      background-image: linear-gradient(to left, black, black);
      border: 1px solid #e2e8f0;
      padding: 12px 18px;
      border-radius: 12px;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease;
    }

    .x{
      background-image: linear-gradient(to left, #333333, #AAAAAA);
      border: 1px solid #e2e8f0;
      padding: 12px 18px;
      border-radius: 12px;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease;
    }

    .telegram{
      background-image: linear-gradient(to left, #0088CC, #E0F7FF);
      border: 1px solid #e2e8f0;
      padding: 12px 18px;
      border-radius: 12px;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease;
    }

    .whatsapp{
      background-image: linear-gradient(to left, lightgreen, #E0F7FF);
      border: 1px solid #e2e8f0;
      padding: 12px 18px;
      border-radius: 12px;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease;
    }

    .link:hover {
      background-color: #e2e8f0;
      transform: scale(1.02);
    }

    .footer {
      margin-top: 20px;
      font-size: 12px;
      color: black;
      font-family: serif;
    }

    button.copy-btn {
      background-color: #f1f5f9;
      border: none;
      border-radius: 8px;
      padding: 6px 10px;
      cursor: pointer;
      font-size: 12px;
    }

    button.copy-btn:hover {
      background-color: #b5b8bb;
    }